.list-category {
  font-size: 2.5em;
  font-weight: bold;
  color: red;
  margin-bottom: 10px;
  text-align: center;
  border: 3px solid;
  border-radius: 5px;
  background-color: blueviolet;
}

.list-items li {
  font-size: 2em;
  list-style: none;
  color: rgb(47, 90, 3);
  text-align: center;
  margin: 0;
}

.list-items li:hover {
  cursor: pointer;
  color: chartreuse;
}